<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; by Christian Santos Martorano. Email: <%= mail_to 'christiansmartorano@gmail.com' %>
    </small>
    <nav>
      <ul>
        <li><%= link_to 'About', about_path %></li>
      </ul>    
    </nav>
  </footer>
</div>